<nav>
  <a [routerLink]="['/main-page']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/casual-mode-result']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CASUAL MODE RESULTS</a>
  <a [routerLink]="['/season-mode-result']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SEASON MODE RESULTS</a>
  <a [routerLink]="['/season-page']" *ngIf="isSeasonModeUnlocked" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SEASON</a>
  <!-- <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a> -->
  <a [routerLink]="['/game-admin']" *ngIf="isAdmin" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">GAMES CONTROL</a>
  <a [routerLink]="['/users-admin']" *ngIf="isAdmin" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">USERS CONTROL</a>
  <a style="float:right; margin-right: 5px;" [routerLink]="['/privacypolicy']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Privacy Policy</a>
</nav>
