<div class="modal-header">
    <h1>Password reset</h1>
</div>
<div class="modal-body">

    <form role="form" (ngSubmit)="onSubmit()" [formGroup]="passResetForm">
        <div class="modal-body">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" name="email">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                      Please enter valid email
                    </div>
                  </div>
            </div>
        </div>
        <div class="modal-footer">
                <button type="submit" [disabled]="!passResetForm.valid" class="btn btn btn-primary">
                    Send
                </button>
                <button type="submit" (click)="onModalClose()" class="btn btn ">
                    Close
                </button>
        </div>
</form>