<sd-toolbar [changeUserDisaplyedData]="changeDisplayedData"></sd-toolbar>
<sd-navbar></sd-navbar>
<div class="container">
  <div *ngFor="let game of games" class="buttons">
    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':!game.isCollapsed}" (click)="onVisibilityChange(game.name)"
      [attr.aria-expanded]="!game.isCollapsed" aria-controls="collapseExample">
      {{game.name}}
    </button>
  </div>
  <div class="games" *ngFor="let game of games">
    <div id="collapseExample" [ngbCollapse]="game.isCollapsed">
      <div class="card">
        <h2>{{prettifyHeader(game.name)}}</h2>
        <br>
        <hr>
        <div class="card-body">
          <div  class="canvasStyle" [style.width.px]="containerWidth" [style.height.px]="containerHeight" id="{{game.name}}">
            
          </div>
          <br>
          <hr>
          <p>Game Rating</p>

          <ngb-rating #rateElement [(rate)]="game.userRate" (rateChange)="onRateChange(rateElement.rate, game.name)">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <hr>
          <pre>Average rate: <b>{{game.avrgRate | number:'.2'}}</b></pre>
        </div>
      </div>
    </div>
  </div>

</div>