<sd-toolbar (challengeSelect)="onChallengeSelected($event)" (open)="openFriendList()" [changeUserDisaplyedData]="changeDisplayedData"></sd-toolbar>
<sd-navbar [isSeasonModeUnlocked]="isUnlockedSeason"></sd-navbar>

<div class="container">
  <!-- <button type="button" (click)="onTap()">add chln</button> -->
  <div class="" *ngIf="isCarouselShown">
    <div style="position: relative; width: 100%; height: 100%;">

      <div class="carouselmain" >

        <ul class="slidesmain">

          <li *ngFor="let game of games">
            <h2 >{{game.name}}</h2>
            <img  src="{{game.imageUri}}" width="100%" alt="">
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div *ngFor="let game of games" class="buttons">
    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':!game.isCollapsed}" (click)="onVisibilityChange(game.name)"
      [attr.aria-expanded]="!game.isCollapsed" aria-controls="collapseExample">
      {{prettifyHeader(game.name)}}
    </button>
  </div>
  <div class="games"  *ngFor="let game of games">
    <div id="collapseExample" [ngbCollapse]="game.isCollapsed">
      <div class="card" [ngClass]="{'playFullScreen':!game.isCollapsed}">
        <h2>{{prettifyHeader(game.name)}}</h2>
        <br>
        <hr>
        <div #gameContainer class="{{'card-body '  + game.name}}">
          <!--  -->
          <span class="close" (click)="onCloseClick()">x</span>
          <div  class="canvasStyle" [style.width.px]="containerWidth" [style.height.px]="containerHeight" id="{{'container_'+game.name}}">
            
          </div>
          <div class="livescore">
          <p>Live Score</p>
          <div id="{{'livescore_'+game.name}}"></div>
        </div>
          <br>
          <hr>
          <p>Game Rating</p>
          
          <ngb-rating #rateElement [(rate)]="game.userRate" (rateChange)="onRateChange(rateElement.rate, game.name)">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <hr>
          <pre>Average rate: <b>{{game.avrgRate | number:'.2'}}</b></pre>
        </div>
      </div>
    </div>
  </div>

</div>
<friend-list *ngIf="showFriendList" (close)="closeFriendList()"></friend-list>

<div *ngIf="showHover" class="hoverContainer">
  <div class="loader"></div>
</div>
