<h1>Games</h1>
<div class="more" (click)="isCollapsed = !isCollapsed"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></div>
<div class="friends" (click)="openFriendLis()"></div>
<ng-template #popContent>Hello, <b>{{usernamed}}</b>!</ng-template>
<div class="friends"  [ngbPopover]="popContent" popoverTitle="Fancy content"></div>
<img class="profile_picture" src="{{imageUrl}}" alt="profile_picture">
<h1 class="username">Hi, {{username}}</h1>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
          <ul>
              <li><a  [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="buttons" (click)="updateInfo()">UPDATE</a></li>
              <li><a  [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="buttons" (click)="onLogOut()">LOG OUT</a></li>
          </ul>
            
            
      </div>
    </div>
</div>
