<h1>Games</h1>
<div class="more" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></div>
<div class="friends otto" (click)="openFriendLis()"></div>
<ng-template class="bottom " #popContent>
    <div style="color:black; margin-top:10px;">
        <div class="center" *ngFor="let challenge of challengesList">
            <a href="javascript:void(0)" (click)="gameSelected(challenge.gamename)" class="btn btn-learn">{{challenge.friendusername + ' -> ' + challenge.gamename }}
                <span class="arrow">❯</span>
            </a>
            <br />
        </div>
    </div>

</ng-template>
<div class="star otto" [ngbPopover]="popContent" popoverTitle="Friends challenges ">
    <p *ngIf="challengesList.length > 0" class="bottomright glow">{{ challengesList.length }}</p>
</div>
<!-- <button type="button" class="friends" [ngbPopover]="popContent2" popoverTitle="Fancy content">2</button> -->
<img class="profile_picture" src="{{imageUrl}}" alt="profile_picture">
<h1 class="username">Hi, {{username}}</h1>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <ul>
                <li>
                    <a [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="buttons" (click)="updateInfo()">UPDATE</a>
                </li>
                <li>
                    <a [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="buttons" (click)="onLogOut()">LOG OUT</a>
                </li>
            </ul>


        </div>
    </div>
</div>
<div *ngIf="hiddenInfo" class="container">

    <div class="alert alert-info">
        <a href="javascript:void(0)" (click)="hideInfo()" class="btn btn-xs btn-primary pull-right">Ok</a>
        <strong>Info:</strong> 
        <p *ngFor="let test of info">{{test}}</p>
    </div>
</div>