<sd-toolbar [changeUserDisaplyedData]="changeDisplayedData"></sd-toolbar>
<sd-navbar></sd-navbar>
<div>
  <button type="button" class="btn btn-outline-primary create" (click)="createNewGame()">
    Create new game
  </button>
</div>
<div class="container">

  <div id="test"></div>

  <div *ngFor="let game of games" class="buttons">
    <button type="button" class="btn btn-outline-primary" [ngClass]="{'active':!game.isCollapsed}" (click)="onVisibilityChange(game.name)"
      [attr.aria-expanded]="!game.isCollapsed" aria-controls="collapseExample">
      {{prettifyHeader(game.name)}}
    </button>
  </div>
  <div class="games" *ngFor="let game of games">
    <div id="collapseExample" [ngbCollapse]="game.isCollapsed">
      <div class="card">
        <h2>{{prettifyHeader(game.name)}}</h2>
        <br>
        <hr>
        <div class="card-body">
          <h2>Options</h2>
          <div class="canvasStyle" [style.width.px]="containerWidth" [style.height.px]="containerHeight" id="{{game.name}}">
            
            <button type="button" class="btn btn-outline-primary" (click)="updateGameInfo(game.name)">
              Update game info
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="updateGameSattus(game.name)">
                {{ game.active == true ? 'Deactivate' : 'Activate' }}
              </button>
          </div>
          
          <br>
          <hr>
          <p>Live Data</p>
          <div id="{{'livedata_'+game.name}}"></div>
          <br>
          <hr>
          <p>Game Rating</p>

          <ngb-rating #rateElement [(rate)]="game.avrgRate" readonly="true">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <hr>
          <pre>Average rate: <b>{{game.avrgRate | number:'.2'}}</b></pre>
        </div>
      </div>
    </div>
  </div>

</div>