.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
.buttons{
  float: left;
}
.buttons button{
  margin:2px 5px;
}
.games{
  clear: both;
}
.active{
  background-color: whitesmoke;
  color: #106cc8;
}
.canvasStyle {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block !important;
  width: 100%;
}
.create{
  width: 96%;
  margin:2px 2%;
}
.buttStyle{
  position: relative;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
.card img{
  margin: auto;
    position: relative;
    display: block;
}
.file-upload {
  height: 25px;
  width: 100px;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 2px 5px;
  border: 1px solid #FFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFF;
  font-size: 10px;
}

.file-upload:hover {
  background-position: 0 -100%;
  color: #2590Eb;
}

.file-upload-button {
  height: 25px;
  width: 100px;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 2px 5px;
  border: 1px solid #FFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFF;
  font-size: 10px;
}
.file-upload-button button {
  width: 100%;
}
.file-upload-button:hover {
  background-position: 0 -100%;
  color: #2590Eb;
}

.text {
  font-size: 14px;
}

input[type='file'] {
  height: 25px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}