<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
</div>
<div class="modal-body">
    <p>{{notification}}!</p>

    <div *ngIf="updateMode" class="file-upload">
        <span class="text">upload</span>
        <input id="custom-input" type="file" (change)="fileChangeListener($event)">
    </div>
    <span *ngIf="data.image" class="result rounded">
        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
    </span>
    <p><ngb-progressbar *ngIf="isProgressVisible" type="info" [value]="progress"></ngb-progressbar></p>
    <div *ngIf="cropperShown" class="pull-left">
        <h3>
            Cropper the image
            <div class="file-upload-button">
                <button (click)="saveImage()" class="text">save</button>
            </div>
            <div class="file-upload-button">
                <button (click)="closeCropper()" class="text">cancel</button>
            </div>
        </h3>


        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <form role="form" (ngSubmit)="onSubmit()" [formGroup]="createGameForm">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" name="name">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                        Name is required.
                </div>
            </div>
        </div>
        <div *ngIf="taken" class="alert alert-danger">
            <div *ngIf="taken">
                    Name is already taken.
            </div>

        </div>

        <div class="form-group">
            <label for="windowWidth">Window Width</label>
            <input type="number" class="form-control" id="windowWidth" formControlName="windowWidth" name="windowWidth">
            <div *ngIf="windowWidth.invalid && (windowWidth.dirty || windowWidth.touched)" class="alert alert-danger">

                <div *ngIf="windowWidth.errors.required">
                    Window Width is required.
                </div>
                <div *ngIf="windowWidth.errors.pattern">
                    Use only positive integer numbers
                </div>
            </div>
        </div>
        <div class="form-group">
                <label for="windowHeight">Window Height</label>
                <input type="number" class="form-control" id="windowHeight" formControlName="windowHeight" name="windowHeight">
                <div *ngIf="windowHeight.invalid && (windowHeight.dirty || windowHeight.touched)" class="alert alert-danger">
    
                    <div *ngIf="windowHeight.errors.required">
                        Window Height is required.
                    </div>
                    <div *ngIf="windowHeight.errors.pattern">
                            Use only positive integer numbers
                        </div>
                </div>
            </div>


        <div class="modal-footer">
            
            <button type="submit" class="btn btn-outline-dark" [disabled]="!createGameForm.valid || !isReadyForSubmit"  >{{buttonName}}</button>
            <button type="button" class="btn btn-outline-dark"  (click)="close()">Close</button>
        </div>
    </form>
</div>